.job-cart{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
border-radius: 8px;
width: 424px;
height: 461px;
}

.hr{
    width: 364px;
height: 0px;
}
.apply-btn{
    width: 399px;
height: 55px;

background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
border-radius: 8px
}
